
.container {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: var(--clr-dark-blue);
    color: var(--clr-off-white);
    margin: auto;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 30px auto;
}

.footer {
    display: flex;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
}

.score {
    font-weight: bold;
}
