:root {
    --clr-dark-blue: #293264;
    --clr-med-blue: #4D5B9E;
    --clr-light-blue: #D6DBF5;
    --clr-off-white: #F5F7FB;
    --clr-correct: #94D7A2;
    --clr-incorrect: rgba(248, 188, 188, 0.5);
    --clr-unused: rgba(41,50,100, 0.5)
}

* {
    box-sizing: border-box;
}

body {
    color: #293264;
    font-family: 'Karla', sans-serif;
    background-color: #F5F7FB;
}